{
  "plugins": ["source-map-support", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ]
}